<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Fail to add lecture</title>
  </head>
  <body>
    Fail to add the lecture. <br />
    The reason would be <br />
    (1) The same lecture already exists.<br />
    (2) The lecture code doesn't exists.<br />
    (3) The price of lecture is negative. It should be zero or positive.<br />
    <form action="/return" method="post">
      <input type="submit" name="send" value="return to pay page" />
    </form>
  </body>
</html>
