<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Fail to register</title>
  </head>
  <body>
    Fail to register to the lecture. <br />
    The reason would be <br />
    (1) The tutor of lecture can't register to the lecture. <br />
    (2) You don't have enough credit to register.<br />
    (3) You already registered to the lecture.<br />
    <form action="/return" method="post">
      <input type="submit" name="send" value="return to pay page" />
    </form>
  </body>
</html>
