<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Trades Info</title>
  </head>
  <body>
    <h1>Trades Info</h1>
    <table border="1">
      <thead>
        <th>tutee</th>
        <th>tutor</th>
        <th>code</th>
        <th>lecture name</th>
        <th>price</th>
      </thead>

      <tbody>
        {% for trade in trades %}
        <tr>
          <td>{{ trade[0] }}</td>
          <td>{{ trade[1] }}</td>
          <td>{{ trade[2] }}</td>
          <td>{{ trade[3] }}</td>
          <td>{{ trade[4] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="/return" method="post">
      <input type="submit" name="send" value="return to pay page" />
    </form>
  </body>
</html>
